// @autor: Esteban Perez Castillo 
//   @versión: Css3
//  @objetivos del archivo: Crear y modificar diferentes tipos de estilos para el proyecto.
//


h2 {
  font-family: Monospace;
  color: #f9f7cf;
}
img {
width :300px; 
height :200px;

}

p {
  font-family: Comic Sans MS;
  color: #321f28;
  font-size: 20px;
}

body {
  background-color: #839b97;
  text-align: center;
}

h1 {
  font-family: Monospace;
  color: #321f28;
}
h3 {
  font-family: Monospace;
  color: #321f28;
}

label {
  font-family: Comic Sans MS;
}




@media screen and (min-width: 800px) {
  .ingres {
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) {
  .ingres {
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  .agregar {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .agregar {
    font-size: 15px;
  }
}

a {
  padding-bottom: 40px;
}

ul {
  display: table;
  margin: 0 auto;
}

ol {
  display: table;
  margin: 0 auto;
}

img {
  min-width: 30%;
  height: auto;
}

/* Para pc: */
@media screen and (min-width: 800px) {
  .negocio {
    font-size: 15px;
    font-family: Monospace;
  }
}

img {
  min-width: 30%;
  height: auto;
}

/* Para tablet*/
@media screen and (min-width: 600px) {
  .negocio {
    font-size: 15px;
    font-family: Monospace;
  }

  img {
    min-width: 30%;
    height: auto;
  }
}
